matplotlib==3.5.2
    # via
    #   -r binder/requirements.txt
nbformat==5.4.0
    # via -r binder/requirements.txt
ray[rllib]==1.13.0
    # via -r binder/requirements.txt
torch==1.11.0
    # via -r binder/requirements.txt
wasabi==0.9.1
    # via -r binder/requirements.txt
